/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --subtitle-color: #000028;
  --accent-bg-color: #ff8dcb;
  --heading-color: #db00ff;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --botton-color: #ff0070;
  --color-transparent: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --subtitle-color: #000028;
  --accent-bg-color: #ff8dcb;
  --heading-color: #db00ff;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --botton-color: #ff0070;
  --color-transparent: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);
}
