/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg-color, #000028);
  font-family: var(--font-family, monospace);
  font-size: var(--font-size, 18px);
}

.header {
  min-block-size: 100dvb;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  padding: 10px;
}

.decorated-zone {
  max-width: 100%;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--botton-color, #ff0070);
  border-inline-end: 1px solid var(--botton-color, #ff0070);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--botton-color, #ff0070);
  border-inline-start: 1px solid var(--botton-color, #ff0070);
  bottom: 10px;
  left: 10px;
}

.header__rec {
  position: absolute;
  font-size: var(--font-size, 18px);
  font-family: var(--font-family, monospace);
  color: var(--accent-color, #ff0070);
  top: 10px;
  right: 30px;
}

.header__rec::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  width: 9px;
  height: 9px;
  background-color: var(--accent-color, #ff0070);
  top: 7px;
  right: -13px;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  margin-inline-start: -10px;
}

.heading {
  font-family: var(--font-family, monospace);
  font-weight: var(--font-weight, 700);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.8em;
  color: var(--heading-color, #db00ff);
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--subtitle-color, #000028);
  font-family: var(--font-family, monospace);
  font-weight: var(--font-weight, 700);
  font-size: var(--font-size, 18px);
}

.header__subtitle {
  line-height: 1.3em;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  margin: 20vmin 10px 0 0;
}

.header__theme-menu-button {
  font-family: var(--font-family, monospace);
  font-size: var(--font-size, 18px);
  color: var(--botton-color, #ff0070);
  font-weight: 400;
  background-color: transparent;
  text-transform: lowercase;
  letter-spacing: 0.05em;
  border: none;
  cursor: pointer;
  line-height: 1.3em;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--botton-color, #ff0070);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--botton-color, #ff0070);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--botton-color, #ff0070);
}

.content {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  display: grid;
  gap: 20px;
}

.main__title {
  font-family: var(--font-family, monospace);
  font-weight: var(--font-weight, 700);
  font-size: var(--font-size, 18px);
  line-height: 1.3em;
  color: var(--botton-color, #ff0070);
}

.text__subtitle {
  font-size: var(--font-size, 18px);
  font-weight: 400;
  background-color: var(--accent-color, #ff0070);
  color: var(--subtitle-color, #000028);
}

.text {
  margin-block-start: 10px;
  font-family: var(--font-family, monospace);
  font-weight: 400;
  font-size: var(--font-size, 18px);
  line-height: 130%;
  color: var(--text-color, #f1b2ce);
}

.color__link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color, #ff0070);
  color: var(--text-color, #f1b2ce);
  cursor: pointer;
}

.color__link:hover {
  border-bottom: 1px solid var(--botton-color, #ff0070);
}

.color__link:focus {
  outline: none;
}

.color__link:focus-visible {
  outline: 1px solid var(--accent-color, #ff0070);
}

.section.gallery {
  gap: 10px;
}

.gallery__img {
  display: block;
  max-width: 100%;
}

.footer {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  min-block-size: 100dvb;
  padding: 10px;
}

.footer__title {
  grid-row: 2;
  align-self: center;
  justify-self: center;
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

@media (width >=768px) {
  .header {
    padding: 20px;
  }

  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    top: 20px;
    right: 54px;
  }

  .header__rec::after {
    top: 11px;
    right: -19px;
  }

  .header__subtitle {
    justify-self: end;
    width: clamp(364px, 50%, 491px);
  }

  .content {
    padding: 60px 20px;
    gap: 80px;
  }

  .why {
    grid-template-columns: 1fr 2fr;
  }

  .article__why {
    grid-column: 2/4;
  }

  .what {
    grid-template-columns: 1fr;
  }

  .main__title.what {
    width: 33%;
  }

  .how {
    grid-template-columns: 1fr 2fr;
  }

  .section.gallery {
    gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "gallery__title gallery__title gallery__title"
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .gallery__title {
    grid-area: gallery__title;
  }

  .gallery__img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media (width >=1024px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 0 20px 0 0;
  }

  .what {
    grid-template-columns: repeat(3, 1fr);
  }

  .article__what {
    grid-row: 2;
  }

  .main__title.what {
    grid-column: span 3;
  }
}
