/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --subtitle-color: #000028;
  --heading-color: #db00ff;
  --text-color: #f1b2ce;
  --botton-color: #ff0070;
  --accent-color: #ff0070;
  --font-family: "IBM Plex Mono", monospace;
  --font-weight: 700;
  --font-size: 18px;
  --color-transparent: rgba(255, 0, 112, 0.4);
}
